<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Facepalm CMS</title>
    <link rel="stylesheet"
          href="/assets/build/cms/css/vendor.css?{{ assetsBusters['assets/build/cms/css/vendor.css'] }}"/>
    <link rel="stylesheet" href="/assets/build/cms/css/main.css?{{ assetsBusters['assets/build/cms/css/main.css'] }}"/>
    {% block cssFile %}{% endblock %}

    <script></script>

</head>
{% block bodyOuter %}
    <body class="cms-page{% if navigation %} two-column{% endif %}" data-base-url="{{ moduleConfig.baseUrl }}">
    {% include 'leftMenu.twig' %}
    <main>
        <form class="main-cms-form" action="./" enctype="multipart/form-data" method="post">
            {{ csrf_field() }}
            {% block moduleContentOuter %}
                <div class="top-bar">
                    <h1>{{ pageTitle }}</h1>
                    <div class="right">
                        <div class="user-icon fa fa-user"></div>
                    </div>
                </div>
                <div class="module-content">
                    {% block moduleContent %}
                    {% endblock moduleContent %}
                </div>
            {% endblock moduleContentOuter %}
        </form>
    </main>
    </body>
{% endblock bodyOuter %}
<div id="spinner"></div>
<script src="/assets/build/cms/js/all.js?{{ assetsBusters['assets/build/cms/js/all.js'] }}"></script>
{% block jsFile %}{% endblock %}
<script type="text/template" id="image-preview-template">
    {{ source("components/form/imagePreview.twig") }}
</script>
<script type="text/template" id="file-preview-template">
    {{ source("components/form/filePreview.twig") }}
</script>
</html>
