<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Facepalm CMS</title>

    <link rel="stylesheet"
          href="/assets/facepalm/css/vendor.css?{{ assetsBusters['facepalm::css/vendor.css'] }}"/>
    <link rel="stylesheet" href="/assets/facepalm/css/main.css?{{ assetsBusters['facepalm::css/main.css'] }}"/>
    {# todo: проверка на наличие! - вынести в контроллер, ессно #}
    {# todo: общий css, js и отдельные файлики для модулей, если надо  #}
    <link rel="stylesheet" href="/assets/build/cms/css/main.css?{{ assetsBusters['assets/build/cms/css/main.css'] }}"/>
    {% block cssFile %}{% endblock %}

    <script></script>

</head>
{% block bodyOuter %}
    <body class="cms-page{% if navigation %} two-column{% endif %}" data-base-url="{{ moduleConfig.baseUrl }}">
    {% include 'facepalm::leftMenu.twig' %}
    <main>
        <form class="main-cms-form" action="./" enctype="multipart/form-data" method="post">
            {{ csrf_field() }}
            {% block moduleContentOuter %}
                <div class="top-bar">
                    <h1>{{ pageTitle }}</h1>
                    <div class="right">
                        <div title="{{ user.email }}"
                                {% if userpic %}
                            class="user-icon"
                            style="background-image: url({{ userpic }})"
                        {% else %}
                            class="user-icon fa fa-user"
                                {% endif %}>

                        </div>
                        <div class="user-dropdown-container">
                            <div class="user-dropdown-content">
                                <div class="username">{{ user.email }}</div>
                                <menu>
                                    <a href="/" target="_blank"><i class="fa fa-home"></i>Открыть сайт</a>
                                    <a href="/cms/logout/"><i class="fa fa-sign-out"></i>Выход</a>
                                </menu>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="module-content">
                    {% block moduleContent %}
                    {% endblock moduleContent %}
                </div>
            {% endblock moduleContentOuter %}
        </form>
    </main>
    </body>
{% endblock bodyOuter %}
<div id="spinner"></div>
<script src="/assets/facepalm/js/all.js?{{ assetsBusters['facepalm::js/all.js'] }}"></script>
<script src="/assets/build/cms/js/all.js?{{ assetsBusters['assets/build/cms/js/all.js'] }}"></script>
{% block jsFile %}{% endblock %}
<script type="text/template" id="image-preview-template">
    {{ source("facepalm::components/form/imagePreview.twig") }}
</script>
<script type="text/template" id="file-preview-template">
    {{ source("facepalm::components/form/filePreview.twig") }}
</script>
</html>
