<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Eventfest: Facepalm CMS</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cuprum:400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="/assets/build/cms/css/vendor.css"/>
    <link rel="stylesheet" href="/assets/build/cms/css/main.css"/>
    {% block cssFile %}{% endblock %}

    <script>window.FileAPI = {staticPath: ''};</script>
    <script src="/build/cms/scripts/all.js"></script>
    {% block jsFile %}{% endblock %}

</head>
{% block bodyOuter %}
    <body class="cms-page">
    <menu {% if cmsStructure[currentPathSections[0]].sections %}class="has-sub-menu"{% endif %}>
        <div class="logo-bar">
            <a href="/cms/" class="logo" title="Facepalm CMS"></a>
        </div>
        <ul class="top-menu clearfix">
            {% for sectionName, sectionInfo in cmsStructure %}
                <li{% if currentPathSections[0] == sectionName %} class="active"{% endif %}>
                    <a href="/cms/{{ sectionName }}/">
                        {% if sectionInfo.icon %}<i class="fa fa-fw fa-{{ sectionInfo.icon }}"></i>{% endif %}
                        {{ sectionInfo.title }}
                    </a>
                    {% if sectionName == currentPathSections[0] %}
                        {% if cmsStructure[currentPathSections[0]].sections %}
                            <ul class="sub-menu clearfix">
                                {% for subSectionName, subSectionInfo in cmsStructure[currentPathSections[0]].sections %}
                                    <li {% if currentPathSections[1] == subSectionName %}class="active"{% endif %} >
                                        <a href="/cms/{{ currentPathSections[0] }}/{{ subSectionName }}/">
                                            {{ subSectionInfo.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </menu>
    <main>
        {% block moduleContentOuter %}
            <div class="module-content">
                {% block moduleContent %}
                {% endblock moduleContent %}
            </div>
        {% endblock moduleContentOuter %}
    </main>
    </body>
{% endblock bodyOuter %}
<div id="ohsnap"></div>
</html>
