<div class="cms-module-form">
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <table>
        {% for field in form.fields %}
            {% if not field.isSkipped %}
                {% if field.isHidden %}
                    {{ field.renderFormField(form.object)|raw }}
                {% else %}
                    <tr data-row-for-field="{{ field.name }}" class="row-for-field-{{ field.getRowClassName() }}">
                        <td class="caption">
                            {% if not field.doNotShowTitle %}
                                <div class="caption">{{ field.title }}</div>
                            {% endif %}
                        </td>
                        <td class="field">
                            {{ field.renderFormField(form.object)|raw }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</div>
