<div class="image" data-id="{{ image.id }}">
    <button type="button" class="delete fa fa-times"></button>
    {% if image.is_video %}
        <a href='{{ image.embed_code }}' target="_blank" data-fancybox-type="html" data-fancybox-group="{{ image.group }}">
            <img src="{{ image.preview }}">
        </a>
    {% else %}
    <a href="{{ image.full }}" target="_blank" data-fancybox-group="{{ image.group }}">
        <img src="{{ image.preview }}">
    </a>
    {% endif %}
</div>
