<tr class="cms-nested-item" data-model="{{ form.model }}" data-id="{{ form.object.id }}">
    {% for field in form.fields %}
        {% if not field.isSkipped %}
            {% if field.isHidden %}
                {{ field.renderFormField(form.object)|raw }}
            {% else %}
                <td class="nested-item-field" {% if field.wide %}colspan="2"{% endif %} data-cell-for-field="{{ field.name }}"
                    class="cell-for-field-{{ field.getRowClassName() }}">
                    {% if field.comment and (not field.comment_position or field.comment_position == "top" or field.comment_position == "above" or field.comment_position == "before") %}
                        <div class="field-comment {{ field.comment_position }}">{{ field.comment }}</div>
                    {% endif %}
                    {{ field.renderFormField(form.object)|raw }}
                    {% if field.comment and field.comment_position == "after" %}
                        <div class="field-comment {{ field.comment_position }}">{{ field.comment }}</div>
                    {% endif %}
                </td>
            {% endif %}
        {% endif %}
    {% endfor %}
    <td class="buttons nested-item-field">
        <button type="button" class="delete fa fa-times"></button>
    </td>
</tr>
