<menu class="main-menu">
    <div class="logo-bar">
        <a href="/cms/" class="logo" title="Facepalm CMS"></a>
    </div>
    <div class="panels">
        <div class="left-panel {% if navigation %}collapsed{% endif %}">
            <ul class="clearfix">
                {% for sectionName, sectionInfo in cmsStructure %}
                    <li{% if currentPathSections[0] == sectionName %} class="active"{% endif %}>
                        <a href="/cms/{{ sectionName }}/" class="first-level-item" title="{{ sectionInfo.title }}">
                            {% if sectionInfo.icon %}<i class="fa fa-fw fa-{{ sectionInfo.icon }}"></i>{% endif %}
                            <span>{{ sectionInfo.title }}</span>
                        </a>
                        {% if sectionName == currentPathSections[0] %}
                            {% if cmsStructure[currentPathSections[0]].sections %}
                                {% if not navigation or (navigation and cmsStructure[currentPathSections[0]].sections|length>1) %}
                                    <ul class="sub-menu clearfix">
                                        {% for subSectionName, subSectionInfo in cmsStructure[currentPathSections[0]].sections %}
                                            <li {% if currentPathSections[1] == subSectionName %}class="active"{% endif %} >
                                                <a href="/cms/{{ currentPathSections[0] }}/{{ subSectionName }}/">
                                                    {{ subSectionInfo.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if navigation %}
            <div class="right-panel">
                <ul class="top-menu clearfix">
                    {{ navigation|raw }}
                </ul>
            </div>
        {% endif %}
    </div>
</menu>