<div class="file" data-id="{{ file.id }}">
    <i class="icon fa fa-{{ file.icon }}"></i>
    <a href="{{ file.uri }}" target="_blank"> {{ file.name }}.{{ file.type }}</a>
    <span class="size">({{ file.size }})</span>
    <button type="button" class="delete fa fa-times"></button>
</div>
