<table class="cms-module-list-content {{ list.settings.listParams.nowrap?'nowrap':'' }}" data-model="{{ list.meta.model }}"
       {% if list.settings.sortable %}data-sortable="true"{% endif %}>
    <thead>
    <tr>
        <th>ID</th>
        {% for fieldObject in list.meta.columns %}
            <th>
                {{ fieldObject.title }}
            </th>
        {% endfor %}
        {% if list.settings.showEditButton %}
            <th class="buttons"></th>
        {% endif %}
        {% if list.settings.showStatusButton %}
            <th class="buttons"></th>
        {% endif %}
        {% if list.settings.showDeleteButton %}
            <th class="buttons"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for object in list.tree.getAllElements %}
        <tr {% if list.settings.showStatusButton and not object.status %}class="inactive"{% endif %}
            data-id="{{ object.id }}">
            <td class="column-id"><a href='{{ object.editUrl }}'>{{ object.id }}</a></td>
            {% for fieldObject in list.meta.columns %}
                <td class="{% if fieldObject.type %}cell-type-{{ fieldObject.type }}{% endif %}" {% if fieldObject.getCustomStyle() %}style="{{ fieldObject.getCustomStyle() }}"{% endif %}>
                    {{ fieldObject.renderForList(object)|raw }}
                </td>
            {% endfor %}
            {% if list.settings.showEditButton %}
                <td class="buttons">
                    <a class="edit button fa fa-pencil" href="{{ object.editUrl }}"></a>
                </td>
            {% endif %}
            {% if list.settings.showStatusButton %}
                <td class="buttons">
                    <button type="button" class="status fa fa-lightbulb-o"></button>
                </td>
            {% endif %}
            {% if list.settings.showDeleteButton %}
                <td class="buttons">
                    <button type="button" class="delete fa fa-times"></button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>