<div class="cms-module-tree-content" data-plain="{{ list.settings.plainTreeMode }}">
    <ul data-id="{{ treeRoot }}">
        {# todo: придумать все же как вывести шапку. Может, расставить джаваскриптом размеры потом? #}
        {#<li>#}
            {#<div class="row">#}
                {#<div class="id"></div>#}
                {#{% for fieldelement in list.meta.columns %}#}
                    {#{{ fieldelement.prepareData(element) }}#}
                    {#{% if not fieldelement.isHidden %}#}
                        {#<div data-cell-for-field="{{ fieldelement.name }}" style="display: inline;">#}
                            {#{{ fieldelement.title }}#}
                            {#<div style="visibility: hidden; height: 1px;">{{ fieldelement.renderFormField(element)|raw }}</div>#}
                        {#</div>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
                {#{% if not list.settings.plainTreeMode %}#}
                    {#<div class="buttons">#}
                    {#</div>#}
                {#{% endif %}#}
                {#{% if list.settings.showEditButton %}#}
                    {#<div class="buttons">#}
                    {#</div>#}
                {#{% endif %}#}
                {#{% if list.settings.showStatusButton %}#}
                    {#<div class="buttons">#}
                    {#</div>#}
                {#{% endif %}#}
                {#{% if list.settings.showDeleteButton %}#}
                    {#<div class="buttons">#}
                    {#</div>#}
                {#{% endif %}#}
            {#</div>#}
        {#</li>#}
        {{ treeContent|raw }}
    </ul>
    <script type="text/template" data-template-name="empty-tree-element">
        {{ emptyTreeItem|raw }}
    </script>
</div>