<div class="dropzone" data-input-name="{{ fieldNameBase }}[__{{ parameters.type }}__][{{ parameters.name }}]">
    <div class="fallback">
        <input name="{{ fieldNameBase }}[__{{ parameters.type }}__][{{ parameters.name }}]" type="file" multiple />
    </div>
</div>