<div class="dropzone-container">
    <div class="images-list">
        {% for image in data.images %}
            {% include "facepalm::components/form/imagePreview.twig" %}
        {% endfor %}
    </div>
    {#{{ dump(parameters) }}#}
    <div class="dropzone" data-input-name="{{ uploadName }}[{{ parameters.type }}][{{ parameters.name }}]"
         data-type="image"
         data-multiple="{{ parameters.multiple ? 1 : 0 }}"
         data-parameters="{% for parameterName,parameterValue in parameters %}{% if parameterName not in data.skipTransferringParameters %}&{{ parameterName }}={{ parameterValue }}{% endif %}{% endfor %}">
        <button class="dz-message cms-button" type="button">Выберите или перетащите картинку</button>
    </div>
    <div class="drop-note">Перетащите картинку сюда</div>
</div>