{% if parameters.relationType == 'hasMany' %}
    {{ parameters['listHtml']|raw }}
{% else %}
    {% if parameters.cardinality=='many' %}
        <ul>
            {% for id,name in parameters.dictionary %}
                <li>
                    <label>
                        <input type="hidden" name="{{ fieldNameBase }}[{{ parameters.collectionName }}][{{ id }}]" value="0"
                               checked/>
                        <input type="checkbox" name="{{ fieldNameBase }}[{{ parameters.collectionName }}][{{ id }}]"
                               value="1" data-id="{{ id }}" data-name="{{ name }}"
                               {% if id in parameters.relations %}checked{% endif %} />
                        {{ name }}
                    </label>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <select class="text" name="{{ fieldNameBase }}[{{ parameters.foreignKey }}]"
                {% if parameters.width %}style="width: {{ parameters.width }}"{% endif %}>
            {% if parameters.showPlaceholder %}
                <option value="" disabled selected hidden>{{ parameters.title }}</option>
            {% endif %}
            {% if not parameters.noEmpty %}
                <option value=""></option>
            {% endif %}
            {% for id,name in parameters.dictionary %}
                <option value="{{ id }}"
                        {% if id == object.__get(parameters.foreignModel).id %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endif %}