{% if parameters.translatable %}
    {% for langCode,langTitle in languages %}
        <div class="language-row">
            <input type="text" class="text"
                   name="{{ inputName }}[{{ langCode }}][stringValue]"
                   value="{{ object.string(field, langCode) }}"
                   {% if parameters.width %}style="width: {{ parameters.width }}"{% endif %}
            />
            {% if languages|length > 1 %}
                <div class="language-caption">{{ langTitle }}</div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <input type="text" class="text"
           name="{{ inputName }}"
           value="{{ forceValue?:object.__get(field) }}"

           {% if parameters.disabledForEdit and (forceValue?:object.__get(field)) %}disabled="disabled"{% endif %}
            {% if parameters.width %}style="width: {{ parameters.width }}"{% endif %}
    />
{% endif %}