{% if parameters.translatable %}
    {% for langCode,langTitle in languages %}
        <div class="language-row">
            <input type="text" class="text"
                   name="{{ inputName }}[{{ langCode }}][stringValue]"
                   value="{{ object.string(field, langCode) }}"
                   {% if parameters.width %}style="width: {{ parameters.width }}"{% endif %}
            />
            <div class="language-caption">{{ langTitle }}</div>
        </div>
    {% endfor %}
{% else %}
    <input type="text" class="text"
           name="{{ inputName }}"
           value="{{ forceValue?:object.__get(field) }}"
           {% if parameters.width %}style="width: {{ parameters.width }}"{% endif %}
    />
{% endif %}