<div id="test"></div>
{% if parameters.translatable %}
    {% for langCode,langTitle in languages %}
        <div class="language-row">
            {% if languages|length > 1 %}
                <div class="language-caption">{{ langTitle }}</div>
                {# todo: добавить возможность строкового комментария к тексту#}
            {% endif %}
            <textarea name="{{ inputName }}[{{ langCode }}][textBody]"
                      {% if parameters.wysiwyg %}data-wysiwyg="true"{% endif %}
                      style="{% if parameters.width %}width:{{ parameters.width }}; {% endif %}
                              {% if     parameters.height %}height:{{ parameters.height }}; {% endif %}"
            >{{ object.text(field, langCode) }}</textarea>
        </div>
    {% endfor %}
{% elseif parameters.dynamic %}
    <textarea name="{{ inputName }}[][textBody]"
              {% if parameters.wysiwyg %}data-wysiwyg="true"{% endif %}
              style="{% if parameters.width %}width:{{ parameters.width }}; {% endif %}
                      {% if     parameters.height %}height:{{ parameters.height }}; {% endif %}"
    >{{ object.text(field, langCode) }}</textarea>
{% else %}
    <textarea name="{{ inputName }}"
              {% if parameters.wysiwyg %}data-wysiwyg="true"{% endif %}
            {% if parameters.wysiwygToolbar %}data-wysiwyg-toolbar="{{ parameters.wysiwygToolbar }}"{% endif %}
              style="{% if parameters.width %}width:{{ parameters.width }}; {% endif %}
                      {% if parameters.height %}height:{{ parameters.height }}; {% endif %}"
    >{{ object.__get(field) }}</textarea>
{% endif %}